*{
  font-family: 'Century Gothic';
}

body{
  background-color: #f1f1f1;  
}

label{
  font-weight: bold;
}

.menu{
  background-color: rgb(21, 206, 150);
}

.title{
  font-size: 26px;
}

.logo{
  width: 40px;
  height: 40px;
}

.form{
  height: 350px;
  margin-top: 50px;
  padding: 30px;
  background-color: #fff;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);;
  -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
}

.button{
  background-color: rgb(21, 206, 150);
  color: #fff;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  width: 300px;
}

.button:hover{
  background-color: rgb(31, 170, 128);
  color: #fff;
}

.message{
  padding-top: 35px;
  text-align: center;
  margin-top: -70px;
}

.result-header{
  background-color: rgb(21, 206, 150);
  color: #fff;
  padding: 10px;
}

.result-div{
  background-color: #fff;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);;
  -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
  margin-top: 20px;
  margin-bottom: 75px;
}

.result{
  padding: 10px;
}

.result-text{
  color: rgb(129, 129, 129);
  font-size: 12px;
}

.error{
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #f16262;
  color: #fff;
  border-radius: 2px;
  border-color: 2px solid #c03535;
  padding: 10px;
  font-weight: bold;
}

.footer{
  background-color: rgb(21, 206, 150);
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 12px;
  height: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 30px;
  font-size: 14px;
}

@media (max-width: 460px) {
  label{
    font-size: 14px;
  }

  .button{
    width: 200px;
  }

  .message{
    font-size: 14px;
  }
}

@media(max-width: 372px){
  label{
    font-size: 13px;
  }
  
  .message{
    font-size: 13px;
  }
}